# Environnements virtuels
backend/venv/
venv/
env/
.env

# Docker override local (hot reload dev)
docker-compose.override.yml

# Cache Python et fichiers compilés
__pycache__/
app/__pycache__/
*.py[cod]
*$py.class

# Distribution / Paquetage
dist/
build/
*.egg-info/
.vercel
